body {
  font-family: Arial;
  padding: 20px;
  text-align: center;
}

#productContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  padding: 15px;
  transition: transform 0.3s;
  background: white;
  margin:10px;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

button {
  padding: 8px 12px;
  margin-top: 10px;
  cursor: pointer;
}